*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: blue;
}

@media screen and (max-width: 600px) {
  .App {
    text-align: center;
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
  }
}
